@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #F8F8FF;
  --add-to-cart-btn: #FFCE13;
  --primary: #0E3559;
  --secondary: #B2DFDB;

}

body{
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}